<h2>Customer Details:</h2>
<div class="customer-detail">
  <h3>Name: {{this.model.name}}</h3>
  <p>Customer ID: {{this.model.customer_id}}</p>
  <p>Email: {{this.model.email}}</p>
  <p>Address: {{this.model.address}}</p>

  <h2>Accounts:</h2>
  <CreateAccount @value={{this.model.customer_id}}/>
  {{this.checkAccount}}
  {{#if this.account_found}}
  <ol>
    {{#each this.model.accounts as |account|}}
      <li>
        Account Number: {{account.account_no}}<br>
        Balance: {{account.balance}}
        <CreditBalance @value={{account.account_no}}/>
        <br>
        UPI ID: {{account.upi_id}} <UpiTransaction @value={{account.upi_id}}/>
        {{#if account.upi_id}}
        <UpiManager
        @text="Fund transfer?"
        @name="receiver upi id"
        @buttonName="Transfer"
        @value={{account.upi_id}}
        @action="transfer"
        @isTransfer="true"
        />
        {{/if}}
        {{#unless account.upi_id}}
        {{this.setNewPlaceholder}}
        <UpiManager 
        @text = "Register to UPI?"
        @name="yourname@hdfc" 
        @buttonName="Register UPI"
        @value={{account.account_no}}
        @action="register"
        @upi_id={{account.upi_id}}
         />
         {{/unless}}
      </li>
    {{/each}}
  </ol>
  {{else}}
   <p>No accounts found</p>

   {{/if}}
</div>
