{{page-title "Response"}}
{{outlet}}

<p>@model.name @model.address</p>
<h2>Response page</h2>
<p>model{{this.model.name}}</p>
<p>model{{this.model.address}}</p>
<p>{{this.name}}</p>
<p>{{this.address}}</p>